In [1]:
import pandas as pd

In [2]:
start = 2007
df = pd.DataFrame()
data = pd.DataFrame()
while start <= 2023:
    dir = "dataset\Dados_PRF_"+str(start)+".csv"
    df = pd.read_csv(dir, sep=';', encoding='latin1', header = 0)
    if not 'ano' in df.columns:
        df['ano'] = int(start)
    else:
        df['ano'] = df['ano'].fillna(int(start))
    print(start)
    if start!= 2007:
        data = pd.concat([df, data])
    else:
        data = df
    start += 1

C:\Users\erica.carneiro\AppData\Local\Temp\ipykernel_20684\586706299.py:6: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dir, sep=';', encoding='latin1', header = 0)

2007

C:\Users\erica.carneiro\AppData\Local\Temp\ipykernel_20684\586706299.py:6: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dir, sep=';', encoding='latin1', header = 0)

2008
2009
2010
2011

C:\Users\erica.carneiro\AppData\Local\Temp\ipykernel_20684\586706299.py:6: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dir, sep=';', encoding='latin1', header = 0)

2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [3]:
data.columns

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop', 'ano'],
      dtype='object')

In [4]:
data[data['id'] == 83529876]

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop,ano
96358,83529876.0,10/11/16,Quinta,16:15:00,MT,163,1009,PEIXOTO DE AZEVEDO,Falta de atenção,Saída de Pista,...,0,0,1,1,NaN,NaN,NaN,NaN,NaN,2016

In [5]:
data

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop,ano
0,496519.0,2023-01-01,domingo,02:00:00,ES,101.0,114,SOORETAMA,Ausência de reação do condutor,Saída de leito carroçável,...,0,0,1,1,"-19,09484877","-40,05095848",SPRF-ES,DEL04-ES,UOP01-DEL04-ES,2023
1,496543.0,2023-01-01,domingo,03:40:00,SP,116.0,"113,1",TAUBATE,Entrada inopinada do pedestre,Atropelamento de Pedestre,...,0,4,0,1,"-23,0445658","-45,58259814",SPRF-SP,DEL02-SP,UOP02-DEL02-SP,2023
2,496590.0,2023-01-01,domingo,01:40:00,MT,163.0,1112,GUARANTA DO NORTE,Reação tardia ou ineficiente do condutor,Tombamento,...,0,0,1,1,"-9,70020602","-54,87588757",SPRF-MT,DEL06-MT,UOP03-DEL06-MT,2023
3,496610.0,2023-01-01,domingo,10:40:00,PR,376.0,"314,8",ORTIGUEIRA,Velocidade Incompatível,Tombamento,...,1,0,0,1,"-23,985512","-51,083555",SPRF-PR,DEL07-PR,UOP02-DEL07-PR,2023
4,496659.0,2023-01-01,domingo,14:55:00,MG,116.0,"569,4",MANHUACU,Acumulo de água sobre o pavimento,Colisão frontal,...,1,0,2,2,"-20,10007457","-42,17884091",SPRF-MG,DEL06-MG,UOP03-DEL06-MG,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127670,956310.0,15/12/2007,Sábado,08:00:00,MG,50,22.0,ARAGUARI,Falta de atenção,Colisão com objeto fixo,...,0,0,4,1,NaN,NaN,NaN,NaN,NaN,2007
127671,964123.0,16/06/2007,Sábado,14:50:00,PR,373,268.3,PRUDENTOPOLIS,Outras,Danos Eventuais,...,2,0,1,2,NaN,NaN,NaN,NaN,NaN,2007
127672,985245.0,11/12/2007,Terça,14:00:00,MT,70,697.1,CACERES,Outras,Colisão frontal,...,2,0,6,3,NaN,NaN,NaN,NaN,NaN,2007
127673,987413.0,09/05/2007,Quarta,14:50:00,SC,470,65.8,INDAIAL,Falta de atenção,Colisão Transversal,...,0,0,3,2,NaN,NaN,NaN,NaN,NaN,2007
127674,988556.0,07/02/2007,Quarta,07:15:00,BA,324,603.5,SIMOES FILHO,Falta de atenção,Colisão traseira,...,2,0,0,2,NaN,NaN,NaN,NaN,NaN,2007

In [6]:
def convert_to_desired_format(date_string):
    try:
        return pd.to_datetime(date_string, format='%d/%m/%Y').strftime('%Y-%m-%d')
    except ValueError:
        try:
            return pd.to_datetime(date_string, format='%Y-%m-%d').strftime('%Y-%m-%d')
        except ValueError:
            try:
                return pd.to_datetime(date_string, format='%d/%m/%y').strftime('%Y-%m-%d')
            except ValueError:
                return None

# Aplicar a função à sua coluna de datas
data['data_inversa'] = data['data_inversa'].apply(convert_to_desired_format)

In [7]:
data[data['data_inversa'].isna()==True]

Empty DataFrame
Columns: [id, data_inversa, dia_semana, horario, uf, br, km, municipio, causa_acidente, tipo_acidente, classificacao_acidente, fase_dia, sentido_via, condicao_metereologica, tipo_pista, tracado_via, uso_solo, pessoas, mortos, feridos_leves, feridos_graves, ilesos, ignorados, feridos, veiculos, latitude, longitude, regional, delegacia, uop, ano]
Index: []

[0 rows x 31 columns]

In [8]:
df['horario'] = pd.to_datetime(df['horario'], format='%H:%M:%S').dt.time

In [9]:
data.data_inversa.isna()

0         False
1         False
2         False
3         False
4         False
          ...
127670    False
127671    False
127672    False
127673    False
127674    False
Name: data_inversa, Length: 2013757, dtype: bool

In [10]:
data = data.fillna('Unknown')

In [11]:
data.horario.isna().sum()

0

In [12]:
data.data_inversa

0         2023-01-01
1         2023-01-01
2         2023-01-01
3         2023-01-01
4         2023-01-01
             ...
127670    2007-12-15
127671    2007-06-16
127672    2007-12-11
127673    2007-05-09
127674    2007-02-07
Name: data_inversa, Length: 2013757, dtype: object

In [13]:
for i in data.columns:
    display("Coluna " + str(i))
    display(data[i].isna().sum())

'Coluna id'

0

'Coluna data_inversa'

0

'Coluna dia_semana'

0

'Coluna horario'

0

'Coluna uf'

0

'Coluna br'

0

'Coluna km'

0

'Coluna municipio'

0

'Coluna causa_acidente'

0

'Coluna tipo_acidente'

0

'Coluna classificacao_acidente'

0

'Coluna fase_dia'

0

'Coluna sentido_via'

0

'Coluna condicao_metereologica'

0

'Coluna tipo_pista'

0

'Coluna tracado_via'

0

'Coluna uso_solo'

0

'Coluna pessoas'

0

'Coluna mortos'

0

'Coluna feridos_leves'

0

'Coluna feridos_graves'

0

'Coluna ilesos'

0

'Coluna ignorados'

0

'Coluna feridos'

0

'Coluna veiculos'

0

'Coluna latitude'

0

'Coluna longitude'

0

'Coluna regional'

0

'Coluna delegacia'

0

'Coluna uop'

0

'Coluna ano'

0

In [14]:
data.columns

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop', 'ano'],
      dtype='object')

In [15]:
data.regional.unique()

array(['SPRF-ES', 'SPRF-SP', 'SPRF-MT', 'SPRF-PR', 'SPRF-MG', 'SPRF-BA',
       'SPRF-RJ', 'SPRF-RS', 'SPRF-SC', 'SPRF-PI', 'SPRF-GO', 'SPRF-PE',
       'SPRF-PA', 'SPRF-MS', 'SPRF-MA', 'SPRF-CE', 'SPRF-AP', 'SPRF-PB',
       'SPRF-DF', 'SPRF-SE', 'SPRF-RO', 'SPRF-RN', 'SPRF-TO', 'SPRF-RR',
       'SPRF-AL', 'SPRF-AC', 'Unknown', 'SPRF-AM', 'UniPRF'], dtype=object)

In [16]:
data['ano'].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2011, 2010, 2009, 2008, 2007], dtype=int64)

In [17]:
data['latitude'] = data['latitude'].str.replace(',', '.').replace('Unknown',-99999999).astype('float')

In [18]:
data['longitude'] = data['longitude'].str.replace(',', '.').replace('Unknown',-99999999).astype('float')

In [19]:
data.describe()

,id,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,ano
count,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,2.013757e+06,1.950181e+06,1.950181e+06,2.013757e+06
mean,1.996128e+07,2.201825e+00,5.587963e-02,5.342636e-01,1.855120e-01,1.327267e+00,9.885503e-02,7.197755e-01,1.721082e+00,-8.010594e+07,-8.010750e+07,2.013225e+03
std,3.500025e+07,1.649531e+00,2.922474e-01,1.013070e+00,5.734412e-01,1.298617e+00,3.972506e-01,1.209604e+00,7.265491e-01,3.992650e+07,4.002003e+07,4.228416e+00
min,8.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-1.033383e+09,-4.016764e+09,2.007000e+03
25%,3.764640e+05,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-1.000000e+08,-1.000000e+08,2.010000e+03
50%,7.754890e+05,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,-1.000000e+08,-1.000000e+08,2.013000e+03
75%,1.304960e+06,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,-1.000000e+08,-1.000000e+08,2.016000e+03
max,8.352989e+07,2.480000e+02,3.300000e+01,6.100000e+01,2.220000e+02,9.900000e+01,8.600000e+01,2.390000e+02,2.500000e+01,1.630000e+02,7.170000e+02,2.023000e+03

In [20]:
data[['mortos', 'feridos_leves','feridos_graves',	'ilesos',	'ignorados',	'feridos']]

        mortos  feridos_leves  feridos_graves  ilesos  ignorados  feridos
0            0              1               0       0          0        1
1            1              0               0       0          4        0
2            0              0               1       0          0        1
3            0              0               0       1          0        0
4            0              0               2       1          0        2
...        ...            ...             ...     ...        ...      ...
127670       0              2               2       0          0        4
127671       0              0               1       2          0        1
127672       1              0               6       2          0        6
127673       0              3               0       0          0        3
127674       0              0               0       2          0        0

[2013757 rows x 6 columns]

In [22]:
data = data.drop('id', axis=1)

In [23]:
data.to_csv('preprocess_data.csv')